.App {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.main-view {
  display: flex;
  flex-direction: column;
  max-width: 99vw;
  max-height: 98vh;
  overflow: hidden;
}

.Container {
  align-content: center;
  margin: 2%;
  margin-top: 5%;
  width: 96%;
  height: 75%;
}

a {
  color: white;
  text-decoration: none;
}

.logo-bar {
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
  height: 12.5vh;
  width: 98%;
  margin: 1%;
  margin-top: 1.4%;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  margin-top: 0.3%;
}