.movieCard {
    margin: 0.5%;
    padding: 0.5%;
    width: 17vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.cardImage {
    height: 100%;
    border: 2px solid #ffffff;
    object-fit: cover;
    overflow: hidden;
}

h2 {
    margin: 5px;
}