.single-movie {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 95%;
    color: white;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    margin: 2.5%;
}

hr {
    width: 100%;
}

.movie-stats {
    display: flex;
    flex-direction: column;
    margin: 1%;
    z-index: 2;
    align-items: center;
}

.poster {
    border: 2px solid #ffffff;
    height: 50vh;
    max-width: fit-content;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72.5%;
    margin: 4%;
    z-index: 2;
}

.backArrow {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.single-movie-genre {
    display: inline;
    list-style: none;
}

.genre-box {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.movie-details > p {
    height: 50%;
}

.movie-details > h3 {
    font-size: 200%;
    font-weight:lighter;
}

.screen {
    display:inline-block;
    background-color: black;
    opacity: .6;
    z-index: 1;
    height: 66.33%;
    width: 90.33%;
    position: absolute;
}

h4 {
    margin: 4px;
}