.navbar {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    height: 12.5vh;
    width: 98%;
    margin: 1%;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.search-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 1%;
}

.appTitle {
    margin-top: 0.5%;
}


.title-search > input,
.navbar > select {
    cursor: pointer;
}

.title-search > button {
    display: block;
    width: 25%;
    background-color: #7D8491;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.5);
    border: none;
    margin-left: 5%;
    cursor: pointer;
}

.title-search {
    display: flex;
    padding: 1%;
}

.average-rating {
    margin: 1%;
    width: 77%;
}